/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 109 2.56% 96%;
		--foreground: 109 75% 1%;
		--muted: 180 3.23% 87.84%;
		--muted-foreground: 109 6% 25%;
		--popover: 109 66% 100%;
		--popover-foreground: 109 75% 1%;
		--card: 109 66% 100%;
		--card-foreground: 109 75% 1%;
		--border: 109 8% 85%;
		--input: 109 8% 85%;
		--primary: 109 75.63% 73.17%;
		--primary-foreground: 109 8.57% 17.36%;
		--secondary: 180 3% 87.84%;
		--secondary-foreground: 109 14% 21%;
		--accent: 0 0% 94%;
		--accent-foreground: 109 0% 20%;
		--destructive: 13.58 90% 48.38%;
		--destructive-foreground: 0 0% 100%;
		--ring: 108.93 75.18% 63%;
		--chart-1: 108.93 54.91% 66.73%;
		--chart-2: 45.28 81.11% 64.71%;
		--chart-3: 188 45.45% 61.18%;
		--chart-4: 305.63 50% 62.35%;
		--chart-5: 249.15 67.82% 65.88%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 109 0% 6%;
		--foreground: 109 33% 98%;
		--muted: 0 0% 21.96%;
		--muted-foreground: 109 0% 55%;
		--popover: 0 0% 10%;
		--popover-foreground: 109 33% 98%;
		--card: 109 0% 12%;
		--card-foreground: 109 33% 98%;
		--border: 109 0% 22%;
		--input: 109 0% 25%;
		--primary: 109 88% 69%;
		--primary-foreground: 109 98% 9%;
		--secondary: 0 0% 21.96%;
		--secondary-foreground: 109 8% 78%;
		--accent: 0 0% 22%;
		--accent-foreground: 109 13% 84%;
		--destructive: 4.53 82.88% 52.82%;
		--destructive-foreground: 0 0% 100%;
		--ring: 109 98% 69%;
		--chart-1: 109 98% 69%;
		--chart-2: 31.7 81.44% 64.77%;
		--chart-3: 187.92 45.47% 61.21%;
		--chart-4: 305.66 50.02% 62.29%;
		--chart-5: 249.06 67.33% 65.86%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
